/* 
** The Header Media Queries **
** Tweak as per your needs **
*/
$text-black: #333333;
$text-grey: #5d5d5d;

@mixin ft-en-demi($color: $text-black, $size: 16px) {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;;
  color: $color;
  font-size: $size;
}
@mixin ft-en-midi($color: $text-black, $size: 16px) {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: $color;
  font-size: $size;
}
@mixin ft-en-solid($color: $text-black, $size: 16px) {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $color;
  font-size: $size;
}
@mixin ft-ja($weight: bold, $color: $text-black, $size: 16px) {
  font-family:"游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-style: normal;
  font-weight: $weight;
  color: $color;
  font-size: $size;
}

ul{
  padding: 0;
  margin: 0;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 36px 40px 36px 50px;
  .header-logo{
    padding: 2px 0;
    &__link{ 
      img{
        height: 36px;
      }
    }
  }
  .nav{
    display: flex;
    &__list{
      .list{
        list-style: none;
        display: flex;
        padding: 13px 0;
       &__item{
          display: inline-block;
          margin-right: 38px;
          font-size: 16px;
          a{
            @include ft-ja();
            text-decoration: none;
          }
        }
      } 
    }
    &__contact-button{
      .contact-button{
        height: 44px;
        width: 158px;
        background-color: #FF9300;
        border-radius: 22px;
        border: none;
        a{
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

/*コメント*/
/*ここ以下が田頭書いたserviceのcss*/

.service{         /*serviceここから*/


  &__title{
    @include ft-en-demi;
    margin-top: 80px;
    margin-bottom: 0px;
    margin-left: 140px;
    font-size: 65px;  
    line-height:80px;
  }

  &__sub-title{
    @include ft-ja;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 140px;
    font-size: 20px;   
    line-height:  20px;
  }

  &__cover{
    img{
      width: 100%;
      margin-top: 120px;
      margin-bottom: 120px;
    }
  }

  .service-container{

    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    align-items: center;  

    margin-left: 20%;
    margin-right: 10%;
    margin-bottom: 60px;
    gap: 30px 60px; /* 横余白　縦余白 */
    
    &__img{
      img{
        height: 340px;
        width: 340px;
        border-radius: 40px 0 40px 0;
      }
    }

    &__item{
      display: flex;
      flex-wrap: wrap;
      flex-flow: column;
      /*justify-content: space-between;*/

      max-width: 60%;
      height: 340px;

      .item-title{
        @include ft-ja;
        font-size: 26px;
        line-height: 28px;
        font-weight: bold;
      }

      .item-text{
        @include ft-ja;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
      }

      .no-color-change {
        @include ft-ja;
        font-weight: bold;
        font-size: 14px;
        color: white;
        text-decoration: none;
      }

    }
  }

  .service-mini-container{
    display: flex;
    flex-wrap: wrap;
    height:100%;            /*__itemの要素は上寄せにし（文章が短いとbetweenだと不格好）、余った空間を全部mini-containerにする*/
    
    &__btn{
      width: 211px;
      height: 44px; 

      color: white;
      text-align:center;   
      line-height:44px;
      background:#333333;

      border-radius:  24px;
      margin-right: 25px;
      margin-top: auto;      /*__btnだけ下寄せにする*/
    }
  }
  

}          /*serviceここまで*/


  





footer{
  display: flex;
  justify-content: space-between;
  padding: 100px 140px;
  .footer-logo{
    height: 137px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    &__img{
      img{
        width: 275px;
      }
    }
    &__address{
      @include ft-ja($weight: 100);
      line-height: 24px;
    }
  }
  .footer-nav{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    &__list{
      .list{
        display: flex;
        &__item{
          display: inline-block;
          margin-left: 30px;
          a{
            @include ft-ja();
            text-decoration: none;
          }
        }
      }
    }
    &__copywiter{
      .copywiter{
        @include ft-en-midi($color: $text-grey, $size: 14px);
        text-align: end;
      }
    }

  }
}